<html>
<head>
  <title>Farmers Market iCalendar</title>
</head>
<body>
  <form>
    <p>
      <label for="zip">Zip Code</label>
      <input type="text" name="zip" value="<%= params[:zip] %>">
    </p>
    <p>
      <label for="ll">Latitude, Longitude<label>
      <input type="text" name="ll" id="ll" size="40" value="<%= params[:ll] %>">
    </p>
    <p>
      <label for="km">Range (km)</label>
      <input type="text" name="km" value="<%= km || 20.0 %>">
    </p>
    <p>
      <input type="submit" value="iCalendar">
    </p>
  </form>

  <% if zip || ll %>
    <a href="<%= ics_url %>">Download iCalendar</a>
    <a href="<%= ics_url.sub(/^http/, 'webcal') %>">Subscribe iCalendar</a>
  <% end %>

  <script>
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var latitude = position.coords.latitude.toString()
        var longitude = position.coords.longitude.toString()
        document.getElementById('ll').value = latitude + ',' + longitude
      });
    }
  </script>
</body>
</html>
